<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189816713085-3b1738df3v9l2q89vv7ojqk25sa9t612.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189816713085-3b1738df3v9l2q89vv7ojqk25sa9t612</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>189816713085-04lhe746rbrt75rtljp3gjgc1388qvsf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAiixpQKGMKshOl2DsaG4Ca4SgsThQQbHU</string>
	<key>GCM_SENDER_ID</key>
	<string>189816713085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hichaty</string>
	<key>PROJECT_ID</key>
	<string>enjoeemsg-a1169</string>
	<key>STORAGE_BUCKET</key>
	<string>enjoeemsg-a1169.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189816713085:ios:6b96289b2c7326ece5e614</string>
	<key>DATABASE_URL</key>
	<string>https://enjoeemsg-a1169.firebaseio.com</string>
</dict>
</plist>